<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Enabled>true</Enabled>
  <ServerUrl>http://59.61.72.34:33030/AutoupdateService.xml</ServerUrl>
  <UserName />
  <PassWord />
  <TryTimes>2</TryTimes>
  <UpdateFileList>
   </UpdateFileList>
</Config>